@media (max-width: 768px) {
  .budget-section {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    padding: 25px 0;
  }

  .dashboard-label {
    text-align: center;
    font-family: var(--groteskFont);
    font-size: 16px;
    color: var(--white);
    padding-top: 10px;
  }
}

@media (min-width: 769px) {
  .budget-section {
    margin-left: 15%;
    padding: 20px 20px;
    background-color: var(--black);
  }

  .dashboard-label {
    font-family: var(--groteskFont);
    font-size: 22px;
    color: var(--white);
    margin-left: 30px;
  }
}
