@media (max-width: 768px) {
  .home-page {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-image: url(../../assets/images/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
