.last-expense {
  list-style: none;
  display: flex;
  align-items: center;
  height: 50px;
  width: 300px;
  font-family: var(--groteskFont);
  font-size: 14px;
  justify-content: space-between;
  color: var(--darkGray);
  /* font-weight: 600; */
  margin-top: 20px;
}

.last-transaction-description {
  color: var(--lightGray);
  font-weight: 400;
  font-size: 13px;
}

.right {
  min-width: 100px;
}

.right span {
  /* min-width: 100px; */
  width: 100%;
  line-height: 30px;
  background-color: rgba(255, 162, 162, 0.582);
  color: crimson;
  padding: 10px;
  border-radius: 15px;
  font-weight: 600;
}
