@media (max-width: 768px) {
  .empty-expenses-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
  }

  .empty-expenses-container img {
    width: 50px;
    height: 50px;
    margin-top: 25px;
  }

  .empty-expenses-container p {
    font-family: var(--groteskFont);
    font-size: 14px;
    color: var(--darkGray);
    font-weight: 600;
    margin-top: 15px;
  }

  .empty-expenses-container button {
    width: 150px;
    padding: 10px;
    background-color: var(--darkGray);
    color: var(--white);
    font-family: var(--groteskFont);
    font-size: 15px;
    border: none;
    outline: none;
    margin-top: 15px;
  }

  .full-expenses-container button {
    width: 150px;
    padding: 10px;
    background-color: var(--darkGray);
    color: var(--white);
    font-family: var(--groteskFont);
    font-size: 15px;
    border: none;
    outline: none;
    margin: 15px auto;
  }

  .expenses-container form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .expenses-container form label {
    color: var(--darkGray);
    font-weight: 600;
    text-align: left;
  }

  .expenses-container select {
    width: 100%;
    padding: 10px;
    font-family: var(--groteskFont);
    font-size: 15px;
    color: var(--darkGray);
    background-color: var(--white);
    border: none;
    outline: none;
    margin-top: 10px;
  }

  .expenses-container textarea {
    width: 100%;
    padding: 10px;
    font-family: var(--groteskFont);
    font-size: 15px;
    color: var(--darkGray);
    background-color: var(--white);
    border: none;
    outline: none;
    margin-top: 10px;
    resize: vertical;
  }

  .expenses-container button {
    padding: 10px;
    border-radius: 0;
  }

  .expenses-container button:disabled {
    background-color: var(--borderLightGray);
    cursor: pointer;
  }

  .expenses-container .error {
    font-family: var(--groteskFont);
    font-size: 12px;
    color: crimson;
    margin-top: 5px;
  }

  ul {
    list-style: none;
  }

  .summary-container {
    width: 90%;
    margin: 50px auto;
  }

  .expenses-label {
    font-family: var(--groteskFont);
    font-weight: 600;
    color: var(--darkGray);
    font-size: 14px;
  }

  .expenses-stats {
    font-family: var(--groteskFont);
    font-size: 14px;
    color: var(--lightGray);
  }

  .button-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .button-section button {
    font-size: 14px;
  }

  .add-expenses {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    /* padding-left: 90px; */
  }

  .add-expenses-label {
    font-size: 14px;
    font-family: var(--groteskFont);
    color: var(--darkGray);
    font-weight: 600;
  }

  .add-expenses-history {
    margin-top: 15px;
    font-size: 13px;
    font-family: var(--groteskFont);
    color: var(--lightGray);
  }

  .add-new-expense-btn {
    display: block;
    width: 60%;
    line-height: 30px;
    background-color: var(--darkGray);
    font-family: var(--groteskFont);
    color: var(--white);
    font-size: 14px;
    text-align: center;
    margin: 25px auto 0 auto;
    cursor: pointer;
    border: none;
    outline: none;
  }

  .last-transactions-header {
    display: none;
  }
}

@media (min-width: 769px) {
  .expenses-container {
    margin-left: 15%;
  }

  .top-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
  }

  .last-transactions {
    margin-top: 50px;
    /* padding-left: 20px; */
  }

  .last-transactions-header {
    font-family: var(--groteskFont);
    font-weight: 600;
    font-size: 15px;
    color: var(--darkGray);
  }

  ul {
    list-style: none;
  }

  .add-expenses {
    margin-top: 50px;
    /* padding-left: 90px; */
  }

  .add-expenses-label {
    font-size: 14px;
    font-family: var(--groteskFont);
    color: var(--darkGray);
    font-weight: 600;
  }

  .add-expenses-history {
    margin-top: 15px;
    font-size: 13px;
    font-family: var(--groteskFont);
    color: var(--lightGray);
  }

  .add-new-expense-btn {
    width: 100%;
    line-height: 40px;
    background-color: var(--darkGray);
    font-family: var(--groteskFont);
    color: var(--white);
    font-size: 14px;
    margin-top: 25px;
    cursor: pointer;
  }

  .full-expenses-container {
    margin-top: 50px;
    padding-top: 25px;
    border-top: 1px solid var(--borderLightGray);
  }

  .expenses-label {
    margin-left: 70px;
    font-family: var(--groteskFont);
    font-size: 14px;
    font-weight: 600;
    color: var(--darkGray);
  }

  .empty-expenses-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--groteskFont);
  }

  .empty-expenses-container img {
    margin-top: 50px;
    width: 75px;
    height: 75px;
  }

  .empty-expenses-container p {
    font-weight: 600;
    margin-top: 15px;
    font-size: 18px;
    color: var(--darkGray);
  }

  .empty-expenses-container button {
    width: 250px;
    line-height: 40px;
    background-color: var(--darkGray);
    color: var(--white);
    font-size: 14px;
    font-family: var(--groteskFont);
    margin-top: 25px;
    cursor: pointer;
  }

  .expenses-container form {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .expenses-container form label {
    color: var(--darkGray);
    font-weight: 600;
    text-align: left;
  }

  .expenses-container select {
    width: 100%;
    padding: 10px;
    font-family: var(--groteskFont);
    font-size: 15px;
    color: var(--darkGray);
    background-color: var(--white);
    border: none;
    outline: none;
    margin-top: 10px;
  }

  .expenses-container textarea {
    width: 100%;
    padding: 10px;
    font-family: var(--groteskFont);
    font-size: 15px;
    color: var(--darkGray);
    background-color: var(--white);
    border: none;
    outline: none;
    margin-top: 10px;
    resize: vertical;
  }

  .expenses-container button {
    padding: 10px;
    border-radius: 0;
  }

  .expenses-container button:disabled {
    background-color: var(--borderLightGray);
    cursor: not-allowed;
    color: var(--darkGray);
  }

  .expenses-container .error {
    font-family: var(--groteskFont);
    font-size: 12px;
    color: crimson;
    margin-top: 5px;
  }
}
