@media (max-width: 768px) {
  .expense-item {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50px;
    padding: 10px;
    font-family: var(--groteskFont);
    color: var(--darkGray);
    font-size: 14px;
    margin: 10px auto;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: 0.4s;
  }

  .expense-item--active {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 150px;
    padding: 10px;
    font-family: var(--groteskFont);
    color: var(--darkGray);
    font-size: 14px;
    margin: 10px auto;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); */
    transition: 0.4s;
  }

  .expense-item-top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .expense-item-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .expense-item-header img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }

  .expense-item-header-container {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-title {
    font-weight: 600;
    font-size: 13px;
  }

  .expense-description {
    font-size: 12px;
    color: var(--lightGray);
  }

  .expense-details {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .expense-item-price {
    min-width: 80px;
  }

  .priceSpan {
    min-width: 50px;
    width: 100%;
    line-height: 30px;
    padding: 2px 5px;
    display: block;
    background-color: rgba(255, 162, 162, 0.582);
    text-align: center;
    border-radius: 15px;
    font-weight: 900;
    color: crimson;
    font-size: 12px;
  }

  .time {
    color: var(--lightGray);
    font-weight: 600;
    font-size: 12px;
  }

  .more-btn {
    font-weight: 600;
    color: var(--lightGray);
    cursor: pointer;
  }

  .expense-name {
    margin-top: 10px;
  }

  .expense-price {
    color: crimson;
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .expense-item {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50px;
    padding: 10px;
    font-family: var(--groteskFont);
    color: var(--darkGray);
    font-size: 14px;
    margin: 10px auto;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: 0.4s;
  }

  .expense-item--active {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 150px;
    padding: 10px;
    font-family: var(--groteskFont);
    color: var(--darkGray);
    font-size: 14px;
    margin: 10px auto;
    /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); */
    transition: 0.4s;
  }

  .expense-item-top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .expense-item-bottom {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .expense-item-header img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }

  .expense-item-header-container {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .header-title {
    font-weight: 600;
  }

  .expense-description {
    font-size: 12px;
    color: var(--lightGray);
  }

  .expense-details {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .expense-item-price {
    min-width: 100px;
  }

  .priceSpan {
    min-width: 80px;
    width: 100%;
    line-height: 30px;
    padding: 5px 10px;
    display: block;
    background-color: rgba(255, 162, 162, 0.582);
    text-align: center;
    border-radius: 15px;
    font-weight: 900;
    color: crimson;
  }

  .time {
    color: var(--lightGray);
    font-weight: 600;
  }

  .more-btn {
    font-weight: 600;
    color: var(--lightGray);
    cursor: pointer;
  }

  .expense-name {
    margin-top: 10px;
  }

  .expense-price {
    color: crimson;
    margin-top: 10px;
  }
}
